
<br>
<h3>These Are Your Current And Previous Orders:</h3>

{{#each carts as |cart|}} 
<br>
    <div>
            <a href="/carts/{{cart.id}}"><h4>Order No: {{cart.id}}</h4></a><br>
        <div style="margin-top: -35px;">            
            &nbsp;&nbsp;&nbsp;Date: {{cart.datecreated}}<br>
            &nbsp;&nbsp;&nbsp;Total Price: ${{cart.total_price}}
        </div>
    </div>
{{/each}} 

<!-- 
<div class="NewPostDiv"> 
    <button class="NewPostButton";  type="button" id="btnNewPost">+ New Post</button>     
</div> --> 
