<div class="card">
  <div class="card-body">
    <h3 class="card-header">Login</h3>
<form action="/api/users/login" method="post" id="login-form">
  <div class="form-group">
    <label for="email-login" for="email-login">Email</label>
    <input type="text" class="form-control" name="username" id="email-login" autofocus="true" class aria-describedby="email">
  </div>
  <div class="form-group">
    <label for="password-login">Password</label>
    <input type="password" class="form-control" name="password" autofocus="true" id="password-login">
  </div>
  <button type="submit" class="btn btn-secondary btn-lg">Login</button>
  <hr>
  <a class="login-link" href="/signup">Sign Up Here</a>
</form>

  </div>
</div>

<script src="/js/login.js"></script>